:root{
    --color-bg:#0f0f0f;
    --color-white:#eee7d6;

    --text-color-black: #080403;
    --text-color-white:#fcf7ec;

    --text-font-main:"Merriweather", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:var(--color-bg) ;
}
.nav-bar{
    margin: 50px auto;
    width: 90%;
    height: 40px;
    background-color: red;
    display: flex;
    align-items: center;
}
.main-logo{
    font-family: var(--text-font-main);
    font-size: 2.5rem;
    color: var(--text-color-white);
}
.main-block{
    background-color:var(--color-white) ;
    width:70%;
    height: 700px;
    padding-top: 100px;
    margin: 100px auto 0;
    border-radius: 24px;
    
}