@font-face {
    font-family:fontspring; 
    src: url(../assets/fonts/Fontspring-DEMO-capricho-regular.otf) format(opentype);
    font-style: normal;
}

@font-face {
    font-family: fontspring-italic;
    src: url(../assets/fonts/Fontspring-DEMO-capricho-italic.otf) format(opentype);
}

:root{
    --color-bg:#0f0f0f;
    --color-white:#eee7d6;

    --text-color-black: #080403;
    --text-color-white:#fcf7ec;

    --text-font-main:"Merriweather", serif;
    --font-heading: "fontspring", serif;
    --font-italic:"fontspring-italic",serif;
}



html {
    scroll-behavior: smooth;
}

body {
    background-color:var(--color-bg) ;
}
.nav-bar{
    margin: 50px auto;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-logo{
    font-family: var(--text-font-main);
    font-size: 2.5rem;
    color: var(--text-color-white);
}
.main-nav{
    font: var(--text-font-main);
    color: var(--text-color-white);
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 1.25rem;
}
.main-block{
    background-color:var(--color-white) ;
    width:70%;
    height: 700px;
    padding-top: 100px;
    margin: 100px auto 0;
    border-radius: 24px;
    
}



.main-block{
    background-color:var(--color-white);
    position: relative;
    width:70%;
    height: 700px;
    padding-top: 100px;
    margin: 100px auto 0;
    border-radius: 24px;
    overflow: hidden;

}

.text-main{
    text-align: center;
    font-family: var(--font-heading);
    font-size: 4rem;
    margin-top: -25px;
    color: var(--text-color-black);
}

.text-main > .text-italic{
    font-family: var(--font-italic);
}
.img-main{
    overflow:hidden;
}
.img-main img{
    position: absolute;
    top: 350px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.hero-btn{
    display: flex;
    justify-content: center;
}

.hero-btn button{
    display: flex;
    background-color: #0f0f0f;
    color: var(--text-color-white);
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
}